* {
    font-family: "Times New Roman", Times, serif;
    background-color: #F1EDED;
    color: #9C88AB,
  }

/* High Score Link */
.highScore-btn {
  display: float;
  float: left;
}

/* Timer */

.h5
#timer {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
}

/*Display Intro*/
#rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.button2 {
  justify-content:center;
  width: 250px;
  padding: 12px 28px;
  background-color:aquamarine;
}

/* Questions */
.question {
 font-size: 30px;
 text-align: center;
}
/* Answer Buttons */
.answer {
  font-size: 20px;
  text-align: center;
}