* {
    font-family: "Times New Roman", Times, serif;
    background-color: #F1EDED;
    color: #9C88AB,
  }

/* High Score Link */


/* Timer */

.h5
#timer {
 display: float;
 float: right;
}



/* Questions */
.question {
 font-size: 30px;
 text-align: center;
}
/* Answer Buttons */
.answer {
  font-size: 20px;
  text-align: center;
}