* {
    font-family: "Times New Roman", Times, serif;
    background-color: #F1EDED;
    color: #9C88AB,
  }

/* High Score Link */
.highScore-btn {
  display: float;
  float: left;
}

/* Timer */

.h5
#timer {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
}

/*Display Intro*/
.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/*Hide*/
.hide {
  display:none
}


.button2 {
  justify-content:center;
  width: 250px;
  padding: 12px 28px;
  background-color:aquamarine;
}

/* Questions */
/*.container{
  width: 40rem;
  height: 30rem;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
}


/* Answer Buttons */
.submit {
  font-size: 20px;
  text-align: center;
}